.Description
    display: grid
    grid-template-columns: 1fr 1fr
    column-gap: 2.25rem
    max-width: 1000px
    margin: 6rem auto
    padding: 2rem 2.5rem
    border-radius: 1.375rem
    &__button
        background: transparent
        border: none
        cursor: pointer
        &--border
            img
                border: 3px solid $main-constrat
    &__imageContainer
        position: relative
        width: 500px
        height: 300px
        & > img
            object-fit: cover
            border-radius: 1rem
            box-shadow: 10 0 4rem rgba(255,255,255,0.2)
    &__text
        & > h2
            font-size: 2rem
            font-weight: 600
            color: $color-secundary
            margin: 0
        & > p
            color: $color-secundary
